
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
    font-size: 25px;
}
.moneyImg {
    /*transform: rotate(180deg);*/
    height: 50%;
    border: 0px;
}

#tittle {
    color: rgb(255, 255, 255);
    text-shadow: 5px 8px rgb(0, 0, 0);
    font-weight: 900;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    width: 602px;
    height: 802px;
    border: 1px solid black;
    background-image: url(AmusedDecentLhasaapso-size_restricted.gif);
    background-size: cover;
}

#tittle {
    font-size: 50px;
}

#startGame {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 80px;
    border: 0px;
    box-shadow: 5px 8px black;
}
#startGame:hover {
    background-color: black;
    color: white;
    box-shadow: 5px 8px white;
    cursor: pointer;

}

#audioDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
    padding-bottom: 180px;
}

#onOff {
    background-color: transparent;
    border: 0px;
}

#muteLogo {
    height: 20px;
    background-color: transparent;
}

canvas {
    border: 1px solid red;
}
