@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
    font-size: 25px;
}
.moneyImg {
    /*transform: rotate(180deg);*/
    height: 50%;
    border: 0px;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    width: 602px;
    height: 802px;
    border: 1px solid black;
    background-image: url(AmusedDecentLhasaapso-size_restricted.gif);
    background-size: cover;
}
.startGame {
    width: 400px;
    height: 80px;
}

.startGame:hover {
    background-color: black;
    color: white;
}
canvas {
    border: 1px solid red;
}