@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
    font-size: 25px;
}
.moneyImg {
    /*transform: rotate(180deg);*/
    height: 60%;
    border: 0px;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 802px;
    height: 1003px;
    border: 1px solid black;
    background-image: url(AmusedDecentLhasaapso-size_restricted.gif);
    background-size: cover;
}
.startGame {
    width: 450px;
    height: 100px;
}
canvas {
    border: 1px solid red;
}